<div style="display: flex;">
  <div style="margin-left: 50px;">
    <h1>Basic Form without JSON Data</h1>

    <div>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div>
          <h4>Do you have allergies?</h4>
          <input type="radio" value="True" formControlName="allergies"> True
          <input type="radio" value="False" formControlName="allergies"> False
        </div>

        <div>
          <h4>What is your gender?</h4>
          <select formControlName="gender">
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>

        <div>
          <h4>What is your date of birth?</h4>
          <input type="date" formControlName="date">
        </div>

        <div>
          <h4>What is your country of birth?</h4>
          <input type="text" formControlName="country">
        </div>

        <div>
          <h4>What is your marital status?</h4>
          <select formControlName="status">
            <option>Married</option>
            <option>Single</option>
            <option>Divorced</option>
          </select>
        </div>

        <div>
          <h4>Do you smoke?</h4>
          <input type="radio" value="True" formControlName="smoke"> True
          <input type="radio" value="False" formControlName="smoke"> False
        </div>

        <div>
          <h4>Do you drink alchohol?</h4>
          <input type="radio" value="True" formControlName="drink"> True
          <input type="radio" value="False" formControlName="drink"> False
        </div>

        <div>
          <button type="submit">Save</button>
        </div>
      </form>
    </div>

    <hr>

    <h1>Submitted Data:</h1>
    <p>{{displayData}}</p>
  </div>

  <div style="margin-left: 50px;">
    <h1>Basic Form with JSON Data</h1>

    <div>
      <form [formGroup]="myNewForm" *ngFor="let data of storeJsonData">
        <div *ngIf="data.linkId==1">
          <h4>{{data.text}}</h4>
          <input type="radio" value="True" formControlName="newAllergies"> True
          <input type="radio" value="False" formControlName="newAllergies"> False
        </div>

        <div *ngIf="data.linkId==2">
          <h4>{{data.text}}</h4>
          <select formControlName="newGender">
            <option *ngFor="let items of data.option">{{items.valueCoding.display}}</option>
          </select>
        </div>

        <div *ngIf="data.linkId==3">
          <h4>{{data.text}}</h4>
          <input type="date" formControlName="newDate">
        </div>

        <div *ngIf="data.linkId==4">
          <h4>{{data.text}}</h4>
          <input type="text" formControlName="newCountry">
        </div>

        <div *ngIf="data.linkId==5">
          <h4>{{data.text}}</h4>
          <select formControlName="newStatus">
            <option *ngFor="let items of data.option">{{items.valueCoding.display}}</option>
          </select>
        </div>

        <div *ngIf="data.linkId==6">
          <h4>{{data.text}}</h4>
          <input type="radio" value="True" formControlName="newSmoke"> True
          <input type="radio" value="False" formControlName="newSmoke"> False
        </div>

        <div *ngIf="data.linkId==7">
          <h4>{{data.text}}</h4>
          <input type="radio" value="True" formControlName="newDrink"> True
          <input type="radio" value="False" formControlName="newDrink"> False
        </div>
      </form>

      <div>
        <button type="submit" (click)="onSubmitNewForm()">Save New Form</button>
      </div>
    </div>

    <hr>

    <h1>Submitted Data:</h1>
    <p>{{displayNewData}}</p>
  </div>
</div>